<p id="notice"><%= notice %></p>

<p>
  <strong>Locale:</strong>
  <%= @language.locale %>
</p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Local Name:</strong>
  <%= @language.local_name %>
</p>

<%= link_to 'Back', languages_path %>
